#
# {{ ansible_managed }}
#
#!/bin/sh

/usr/sbin/logrotate{% if ansible_distribution_major_version|int >= 7 %} -s /var/lib/logrotate/logrotate.status{% endif %} /etc/logrotate.conf
EXITVALUE=$?
if [ $EXITVALUE != 0 ]; then
    /usr/bin/logger -t logrotate "ALERT exited abnormally with [$EXITVALUE]"
fi
exit 0

